/* Base Styles */

* {
    box-sizing:border-box;
}

#nav-brand {
    font-family: Brushstroke, fantasy;
    color: #000000;
    height: 1.2em;
}

body {
    background-color: #fef5ca;
}

p {
    padding: 10px;
    margin: 0;
}

.container {
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

section {
    border: 1px solid black;
    background-color: lightgray;
    width: auto;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    position: relative;
    overflow: auto;
}

#chicken {
    border: 1px solid black;
    text-align: center;
    width: 30%;
    margin-left: 70%;
    font-family: Georgia, sans-serif;
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px;
    background-color: #581845;
    color: white;
}

#beef {
    border: 1px solid black;
    text-align: center;
    width: 30%;
    margin-left: 70%;
    font-family: Georgia, sans-serif;
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px;
    background-color: #900c3f;
}

#sushi {
    border: 1px solid black;
    text-align: center;
    width: 30%;
    margin-left: 70%;
    font-family: Georgia, sans-serif;
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px;
    background-color: #c70039;
}

#chicken-div-nav {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
#beef-div {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
#sushi-div {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
.navbar-brand {
    font-size: 2em;
    border: 0 0 10px 10px;
    color: #FFFFFF;
  }
  
#header-nav {
    border: 0;
    background-color: #Ffc300;
    color: #FFFFFF;
    font-size: 125%;
  }
  
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
  }
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  
.nav-header {
    background-color: #FFFFFF;
  }
  
.nav-brand {
    color: #FFFFFF;
    font-size: 1.5em;
  }
  
#nav-list {
    color: white;
  }
  
hr {
    border-color: white;
  }
  
.item {
    color: white;
    font-size: 1.2em;
  }
